<!DOCTYPE html>
<html>

<head>
  <title>Song recommender</title>
</head>

<body>
  <h1>Song recoomender</h1>
  <p>Write in a list of songs you like</p>

  <input type="text" id="input-songs" name="song" list="songnames" placeholder="Start writing name of song or artist"
    style="width: 250px;" />
  <datalist id="songnames">
    {% for song in songs %}
    <option data-value="{{song.id}}" value="{{song.title}} - {{song.artist}}"></option>
    {% endfor %}
  </datalist>
  <button type="button" onclick="myFunc()">Add song</button>
  <button type="button" onclick="submitHandler()">
    Get recommendation
  </button>
  <input type="hidden" id="likedsongs" value="" />

  <ul id="list" name="list_s"></ul>
</body>

<script>
  function myFunc() {
    var input = document.getElementById("input-songs").value;
    if (input === "") {
      return;
    }

    var options = document.getElementsByTagName("option");
    var found = false;
    let songId = 0;

    for (i = 0; i < options.length; i++) {
      if (options[i].value === input) {
        found = true;
        songId = options[i].getAttribute("data-value");
        break;
      }
    }

    if (found) {
      var list = document.getElementById("list");
      var li = document.createElement("li");
      li.appendChild(document.createTextNode(input));
      li.setAttribute("data-id", songId);
      li.classList.add("song-selection");
      list.appendChild(li);
      document.getElementById("input-songs").value = "";
    }
  }

  function myOtherFunc() { }

  async function submitHandler() {
    const arr = [].map.call(
      document.getElementsByClassName("song-selection"),
      function (o) {
        return o.getAttribute("data-id");
      }
    );

    const url = "http://localhost:5000/result"
    let result = await postData(url, arr);
    console.log(result);
  }

  async function postData(url = "", data = {}) {
    const response = await fetch(url, {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },
      redirect: "follow",
      body: JSON.stringify(data),
    });
    //return response.json();
  }
</script>

</html>